# Upload the Data and Read the .csv File

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('salaries_by_college_major.csv')

In [18]:
df.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 6 columns]

# Preliminary Data Exploration and Data Cleaning with Pandas

In [5]:
df.shape

(51, 6)

In [6]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

Missing Values and Junk Data

In [7]:
df.isna()

    Undergraduate Major  ...  Group
0                 False  ...  False
1                 False  ...  False
2                 False  ...  False
3                 False  ...  False
4                 False  ...  False
5                 False  ...  False
6                 False  ...  False
7                 False  ...  False
8                 False  ...  False
9                 False  ...  False
10                False  ...  False
11                False  ...  False
12                False  ...  False
13                False  ...  False
14                False  ...  False
15                False  ...  False
16                False  ...  False
17                False  ...  False
18                False  ...  False
19                False  ...  False
20                False  ...  False
21                False  ...  False
22                False  ...  False
23                False  ...  False
24                False  ...  False
25                False  ...  False
26                False  ...  False
27                False  ...  False
28                False  ...  False
29                False  ...  False
30                False  ...  False
31                False  ...  False
32                False  ...  False
33                False  ...  False
34                False  ...  False
35                False  ...  False
36                False  ...  False
37                False  ...  False
38                False  ...  False
39                False  ...  False
40                False  ...  False
41                False  ...  False
42                False  ...  False
43                False  ...  False
44                False  ...  False
45                False  ...  False
46                False  ...  False
47                False  ...  False
48                False  ...  False
49                False  ...  False
50                False  ...   True

[51 rows x 6 columns]

In [8]:
df.tail()

      Undergraduate Major  ...  Group
46             Psychology  ...   HASS
47               Religion  ...   HASS
48              Sociology  ...   HASS
49                Spanish  ...   HASS
50  Source: PayScale Inc.  ...    NaN

[5 rows x 6 columns]

Delete the Last Row

In [9]:
clean_df = df.dropna()
clean_df.tail()

   Undergraduate Major  ...  Group
45   Political Science  ...   HASS
46          Psychology  ...   HASS
47            Religion  ...   HASS
48           Sociology  ...   HASS
49             Spanish  ...   HASS

[5 rows x 6 columns]

# Accessing Columns and Individual Cells in a Dataframe

**Find College Major with Highest Starting Salaries**

In [ ]:
clean_df['Starting Median Salary']

In [11]:
clean_df['Starting Median Salary'].max()

74300.0

In [19]:
clean_df['Starting Median Salary'].idxmax()

43

In [20]:
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [21]:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                             74300
Mid-Career Median Salary                           91700
Mid-Career 10th Percentile Salary                  66400
Mid-Career 90th Percentile Salary                 124000
Group                                               STEM
Name: 43, dtype: object

# Challenge: Highest Mid-Career Salary, Lowest Starting Salary, Lowest Mid-Career Salary

In [22]:
clean_df['Mid-Career Median Salary'].idxmax()

8

In [24]:
clean_df['Mid-Career Median Salary'].loc[8]

107000.0

In [28]:
clean_df['Undergraduate Major'].loc[8]

'Chemical Engineering'

In [25]:
clean_df['Starting Median Salary'].idxmin()

49

In [26]:
clean_df['Starting Median Salary'].loc[49]

34000.0

In [29]:
clean_df['Undergraduate Major'].loc[49]

'Spanish'

In [31]:
print(clean_df['Mid-Career Median Salary'].idxmin())
clean_df['Mid-Career Median Salary'].loc[18]
clean_df['Undergraduate Major'].loc[18]

18

'Education'

# Sorting Values & Adding Columns: Majors with the Most Potential vs Lowest Risk

Lowest Risk Majors

In [ ]:
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

In [ ]:
clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])

In [ ]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

Sorting by the Lowest Spread

In [ ]:
low_risk = clean_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

# Challenge: Degrees with the Highest Potential

Majors with the Highest Potential

In [53]:
    highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
    highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

Majors with the Greatest Spread in Salaries

In [56]:
highest_spreads = clean_df.sort_values('Spread', ascending=False)
highest_spreads[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

Bonus: Majors with Highest Mid-Career Median Salaries

In [57]:
highest_medians = clean_df.sort_values('Mid-Career Median Salary', ascending=False)
highest_medians[['Undergraduate Major', 'Mid-Career Median Salary']].head()

       Undergraduate Major  Mid-Career Median Salary
8     Chemical Engineering                  107000.0
12    Computer Engineering                  105000.0
19  Electrical Engineering                  103000.0
1    Aerospace Engineering                  101000.0
17               Economics                   98600.0

# Grouping and Pivoting Data with Pandas

In [60]:
clean_df.groupby('Group').count()

          Undergraduate Major  ...  Mid-Career 90th Percentile Salary
Group                          ...
Business                   12  ...                                 12
HASS                       22  ...                                 22
STEM                       16  ...                                 16

[3 rows x 6 columns]

In [62]:
pd.options.display.float_format = '{:,.2f}'.format
clean_df.groupby('Group').mean()

             Spread  ...  Mid-Career 90th Percentile Salary
Group                ...
Business 103,958.33  ...                         147,525.00
HASS      95,218.18  ...                         129,363.64
STEM     101,600.00  ...                         157,625.00

[3 rows x 5 columns]